{% extends 'base.html.twig' %}

{% block contain %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="formulaire">
        <h1 class="formulaire-h1">Modifier votre mot de passe</h1>
        <h2>Après modification du mot de passe vous serez déconnecté !</h2>
        {% for message in app.flashes('success') %}
            {{ message }}
        {% endfor %}
        {% for message in app.flashes('error') %}
            {{ message }}
        {% endfor %}
        {{ form_start(editForm) }}

            {{ form_row(editForm.plainPassword, {
                'label_attr': {'class': 'label'}
            }) }} 

            <button type="submit" class="btn">Valider</button>
        {{ form_end(editForm) }}
    </div>

{% endblock %}